spring:
  application:
    name: example-zuul

server:
  port: 9000
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
zuul:
  routes:
    server:
      path: /aries/**
      serviceId: example-server
